#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}
article > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gallery{
    margin: 0 100px;
}
.information-photographer-city{
    color: #901C1C;
}
.information-photographer-text{
    color: black;
}
.information-photographer-textprice{
    color: #525252;
}
select{
    background-color: #901C1C;
    color: white;
    border: 0;
    padding: 15px;
}
select.select-filter a:hover{
    background-color: #D3573C;
}
button:hover{
    background-color: #D3573C;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
.gallery_media div p{
    color: #901C1C;
}
.gallery_media div div{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    
}
textarea{
    width: 100%;
height: 150px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}
.modal-container{
    width: 100%;
}
#modal-container-form-succes{
    display: none;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
.error{
    color:red;
    display: none;
    margin: 0;
}
form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
#section_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.gallery_media{
    width: 20%;
    margin: 2.5%;
    text-align: center;
}
.gallery_media > img{
    width: 200px;
    height: 200px;
}
.gallery_media div{
    display: flex;
}
.gallery_media div p{
    width: 70%;
}
.gallery_media div p + p{
    width: calc(30% - 20px);
    text-align: right;
}
.gallery_media div img{
    display: block;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-self: center; 
}
.gallery_media video{
    width: 200px;
    height: 200px;
}
.logoheart path{
    /*animation-duration: 10s;
    animation-name: heartlike;*/
    fill: #901C1C;
}
svg path{
    height: 100%;
}
.animheartlike{
    animation-duration: 3s;
    animation-name: heartlike;
    animation-fill-mode: forwards;
}
.animheartdislike{
    animation-duration: 3s;
    animation-name: heartdislike;
    animation-fill-mode: forwards;
}
.container_price-absolute{
    position: fixed;
    right: 50px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #D3573C;
}
.container_price-absolute > div{
    display: flex;
    align-items: center;
}
.container_price-absolute_logoheart{
    width: 20px;
    height: 20px;
}
#lightbox-modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
}
.lightbox-modal{
    width: 100%;
    height: 100%;
}
#btn-closeLightboxModal{
    padding: 25px;
    box-sizing: border-box;
}
#lightbox-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.imgLightbox{
    width: 600px;
    height: 600px;
}
.videolightbox{
    width: 600px;
    height: 600px;
}
.lightbox-back{
    width: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lightbox-forward{
    width: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.lightbox-forward img + img{
    margin-top: 150px;
}
.lightbox-back img, .lightbox-forward img{
    width: 100px;
    height: 100px;
}
@keyframes heartlike{
    0%{fill: #901C1C;}
    100%{fill: pink;}
}
@keyframes heartdislike{
    0%{fill:pink;}
    100%{fill: #901C1C;}
}