@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #D3573C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 10px 0px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.photograph-header{
    display: flex;
    justify-content: space-around;
}
.photograph-header *{
    display: flex;
    align-items: center;
    justify-content: center;
}
article div p{
    margin:3px;
}
#photographe-information{
    width: 20%;
}
#photographe-contact{
    width: 20%;
}
#photographe-pdp{
    width: 20%;
}
.photograph-header #photographe-information div{
    flex-direction: column;
}
#photographe-information div h1{
    margin:0;
}
#photographe-pdp img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
}
