@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #D3573C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26%;
    margin-bottom: 20px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 10px 0px;
    text-align: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.photograph-header{
    display: flex;
    justify-content: space-around;
}
.photograph-header *{
    display: flex;
    align-items: center;
    justify-content: center;
}
article div p{
    margin:3px;
}
#photographe-information,#photographe-contact,#photographe-pdp{
    width: 25%;
}
.photograph-header #photographe-information div{
    flex-direction: column;
}
#photographe-information div h1{
    margin:0;
}
#photographe-pdp img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
}

@media (max-width: 875.98px) {
    .photographer_section article {
        width: 40%;
    }
}
@media (max-width: 575.98px) {
    body{
        width: 100%;
    }
    body > header{
        flex-direction: column;
        height: auto;
    }
    h1{
        margin-right: 0;
    }
    .photographer_section{
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    .photographer_section article{
        margin: 20px 0;
        width: 60%;
    }
}
